<ActionBar class="header" title="Cordially">
  <NavigationButton text="Log out" (tap)="logout()"></NavigationButton>
</ActionBar>

<StackLayout class="page" backgroundImage="~/images/unlocked.png" style="height: 100%; background-repeat: no-repeat; background-size: contain; background-color: #54F1B8;">
  <Label text="You're checked in! Your room number is 1103." style="text-align: center; font-size: 22; margin-bottom: 10; margin-top: 10; color: #333;" textWrap="true"></Label>

  <Label text="You can use your phone's NFC capabilities to open your room by tapping your phone onto the pad above the door handle" style="text-align: center; font-size: 18; color: #333; margin: 5;" textWrap="true"></Label>

  <Image class="preview" src="~/images/unlocked.svg"></Image>

  <Button class="btn btn-primary" text="Log out" (tap)="logout()" style="margin-top: 100;" verticalAlignment="bottom"></Button>
</StackLayout>
