<ActionBar class="header" title="Cordially">
  <NavigationButton text="Log out" (tap)="logout()"></NavigationButton>
</ActionBar>

<FlexboxLayout flexDirection="row" justifyContent="space-between">
  <Label flexGrow="0" text="Cordially"></Label>
  <Button flexGrow="0" class="btn btn-primary logout" text="Log out" (tap)="logout()"></Button>
</FlexboxLayout>

<StackLayout class="page" style="height: 100%;">
  <Label text="You have an upcoming stay at Joshua Tree Inn, from Feb. 1 to Feb 3, 2019" style="text-align: center; font-size: 22; margin-bottom: 20; margin-top: 10; color: white;" textWrap="true"></Label>

  <Label text="Capture a photo ID to be on-file with the hotel" style="text-align: center; font-size: 18; color: white;"></Label>

  <FlexboxLayout class="" orientation="horizontal">
    <Button *ngIf="!frontImage" flexGrow="1" text="Capture front" class="btn btn-primary" (tap)="captureFront()"></Button>
    <Image *ngIf="frontImage" flexGrow="1" class="preview" [src]="frontImage.src">
    </Image>

    <Button *ngIf="!backImage" flexGrow="1" text="Capture back" class="btn btn-primary" (tap)="captureBack()"></Button>
    <Image *ngIf="backImage" flexGrow="1" class="preview" [src]="backImage.src">
    </Image>
  </FlexboxLayout>

  <Label *ngIf="frontImage && backImage" text="You're ready to check in!" style="text-align: center; font-size: 24; color: white;">
  </Label>
  <Label *ngIf="frontImage && backImage" text="Just hold your phone's NFC reader onto any kiosk's reader at the hotel." style="text-align: center; font-size: 22; color: white;" textWrap="true" (tap)="checkIn()">
  </Label>

  <Button class="btn btn-primary" text="Check In" (tap)="checkIn()" style="margin-top: 100;"></Button>

  <Button class="btn btn-primary" text="Log out" (tap)="logout()" verticalAlignment="bottom"></Button>
</StackLayout>
