.preview {
  margin: 10;
  height: 200;
}
.page {
  align-items: center;
  flex-direction: column;
  background-color: #72cfed;
}
.header {
  color: white;
  /*align-items: center;*/
  /*flex-direction: column;*/
  background-color: #84d6f8;
}

.btn.logout {
  color: white;
  background-color: transparent;
}

.page .btn {
  background-color: transparent;
  border-width: 2;
  border-color: white;
  border-radius: 5%;
  font-size: 16;
}
