<FlexboxLayout class="login page">
    <StackLayout class="form">
        <StackLayout class="header" orientation="horizontal">
            <Label text="Good "></Label>
            <Label class="underline" text="Morning"></Label>
        </StackLayout>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">
                <StackLayout row="0" class="input-field">
                    <TextField class="input" hint="Email" [isEnabled]="!processing"
                        keyboardType="email" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.email"
                        returnKeyType="next" (returnPress)="focusPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <TextField #password class="input" [isEnabled]="!processing"
                        hint="Password" secure="true" [(ngModel)]="user.password"
                        [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                        (returnPress)="focusConfirmPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="2" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #confirmPassword class="input" [isEnabled]="!processing"
                        hint="Confirm password" secure="true" [(ngModel)]="user.confirmPassword"
                        returnKeyType="done"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>

        <FlexboxLayout class="" flexDirection="row">
            <Button flexGrow="1" [text]="isLoggingIn ? 'Log In' : 'Sign Up'"
                [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-10"></Button>
            <Button flexGrow="1" text="Sign Up" [isEnabled]="!processing"
                (tap)="submit()" class="btn btn-primary m-t-10"></Button>
        </FlexboxLayout>
        <Label *ngIf="isLoggingIn" text="Forgot your password?" class="login-label"
            (tap)="forgotPassword()"></Label>
    </StackLayout>

    <Image class="cityscape" src="~/images/cityscape1.png">
    </Image>
</FlexboxLayout>
