.page {
  align-items: center;
  flex-direction: column;
  background-color: #72cfed;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

/* .logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
} */
.header {
  horizontal-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 40;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: white;
}
.header .underline {
  text-decoration: underline;
}

.input-field {
  margin-bottom: 25;
}
.input {
  font-size: 18;
  placeholder-color: #A8A8A8;
  color: white;
}
.input:disabled {
  color: #A8A8A8;
  background-color: white;
  opacity: 0.5;
}

.login .btn {
  margin: 30 5 15 5;
  background: transparent;
  border-color: white;
  border-radius: 5%;
  border-width: 2;
}

.login-label {
  horizontal-align: center;
  color: white;
  font-size: 16;
}
.sign-up-label {
  margin-bottom: 20;
}
.bold {
  color: #000000; 
}

.cityscape {
  margin-bottom: -15;
}
